/*body {*/
/*    background-color: #343a40;*/
/*}*/

.thumbnail {
    padding: 0;
}

.thumbnail img {
    width: 100%;
}

.delete-form {
    display: inline;
}

#form-formatting {
    width: 30%;
    margin: 0 auto;
}

#form-header {
    text-align: center;
}